// Tab bar
// ------------------------------
.Tabs-Icon--mood {
    content: url("../img/icons/people-1.png");
    height: 22px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.Tabs-Icon--events {
    content: url("../img/icons/calendar.png");
    height: 22px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.Tabs-Icon--help {
    content: url("../img/icons/ring.png");
    height: 52px;
    z-index: 999;
}

.Tabs-Icon--lists {
    content: url("../img/icons/orientation.png");
    height: 22px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.Tabs-Icon--rewards {
    content: url("../img/icons/medal.png");
    height: 22px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.Tabs-Icon--settings {
    content: url("../img/icons/people.png");
    height: 22px;
    margin-bottom: 3px;
    margin-top: 3px;
}
